*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.logo{
    font-size: 30px;
}
.logo span{
    font-weight: 800px;
    font-family: 'Dancing Script', cursive;
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.95);
    padding: 25px 7%;
}
.aa.active{
    background-color: rgb(242, 242, 242);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar li a{
    color: #161616;
    font-weight: 500;
    font-size: 1rem;
    padding:10px 20px ;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00b87e;
    left: 0;
    bottom: -4px;
    transition: ease .42s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 40px;
    color: #161616;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.btn{
    font-size: 14px;
    font-weight: 600px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    justify-content: center;
    background: #00b87e;
    color: #fff;
    border-radius: 10px;
    padding: 0 30px;
    text-transform: uppercase;   
    transition: all .34s; 
}
.btn:hover{
    opacity: 0.8;
    transform: translateY(-8px);
}
section{
    padding: 0 16px;

}
img{
    width: 1020px;
    margin-left: 220px;
    margin-top: -5px;
    /* position: absolute; */
}
.arrow i:hover{
    cursor: pointer;
    transition: all .4s ease;
    transform: rotate(360deg);
}
.arrow{
    display: none;
    transition: all .4s ease;
    cursor: pointer;
    position: fixed;
    /* margin-top: 200px; */
    z-index: 1;
    font-size: 50px;
    margin-left: 1500px;
}
.container{
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* align-items: center; */

}
.text{
    margin-left: 150px;
    margin-top: -450px;
    /* padding-top: 70px; */
}
.text .slide{
    margin-bottom: 20px;
}
.text .one{
    height: 40px;
    padding: 0  15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500px;
    border-radius: 5px;
    background:rgb(0, 0, 0);
    color: #fff;
    display: inline-block;
    margin-right: 22px;

}
.text .two{
    font-weight: 500px;
    font-size: 24px;
    color: #161616;
    display: inline-block;
}
.text h1{
    color: #161616;
    line-height: 0.9;
    margin: 0 0 9px;
    font-size: 100px;
    font-weight: 700px;

}
.text h2{
    color: #161616;
    font-weight: 700px;
    line-height: 1;
    margin: 0 0 30px;
    font-size:50px;
}
span{
    color: #00b87e;
}
.text p{
    color: #6a6a6a;
    font-size:20px;
    line-height: 1.6;
    margin-bottom: 20px;


}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.btn2{
    color: #161616;
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

}
.btn2 i{
    height: 70px;
    width: 70px;
    background: #ffffff;
    color: #00b87e;
    font-size: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.08);
    margin-right: 20px;
    transition: ease .30s;
}
.btn2 i:hover{
    color: #fff;
    background: #00b87e;

}
.social{
    margin-left: -50px;
    position: absolute;
    top:52%;
    padding: 0 7%;
    transform: translateY(-50px);
}
.social ul li{
    margin: 20px 0;
}
.social ul li i{
    font-size: 25px;
    color: #161616;
    transition: all .30s;
}
.social ul li i:hover{
    /* box-shadow: 0 0 20px #042929; */
    color: #00b87e;
    text-shadow:1px 1px 30px #014545;
    transform: translateY(-8px);
    transition: 0.2s;

}
.skills{
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
    gap: 40px;

}

.skills b{
    color: white;
    margin-left: 5px !important;
    text-align: end;
}
.skills li{
    margin: 20px 0;
    padding: 10px; 
}
.my{
    text-align: center;
}
.skill1{
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,2.25),0 10px 10px rgba(0 , 0, 0 ,22);
    color: #fff;
    width: 500px;
    background-color: #272c2a;
}
.skill2{
    /* margin-left: 150px; */
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,2.25),0 10px 10px rgba(0 , 0, 0 ,22);
    color: #fff;
    width: 500px;
    background-color: #272c2a;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0 , 0, 0 ,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,.1);

}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.12),0 10px 10px rgba(0 , 0, 0 ,0.22);

}
.bar span{
    height: 20px;
    float: left;
    background: #00b87e;
}
.pwork{
    text-align: center;
}
.myworks{
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(320px , auto));
    gap:10px;
}
.work1{
    padding-bottom: 20px;
}
.myworks img{
    margin-left:-5px;
    width: 350px;
    transition: all 0.2s;
    border-radius: 20px;
}
.myworks img:hover{
    cursor: pointer;
    transition: all 0.3s;
    width: 360px;
}
.myworks .work1 p{
    margin-bottom: 20px;
}
.myworks .work1 a{
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    background:#00b87e;
    transition: 0.1s;
}
.myworks .work1 a i{
    transition: 0.2s;
    
}
.myworks .work1 a:hover i{
    transition: 0.2s;
    transform: translateX(.25rem);
}
.myworks .work1 a:hover{
    background: #0d6868;
    transition: 0.2s;

}
.my , .h2work , .h2about{
    font-size: 30px;
    text-align: center;
    font-weight: 500px;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(450px , auto));
    gap:10px;
}
.about .description{
    font-weight: 600px;
    font-size: 18px;
}
.ee{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , auto));
    gap:10px;
}
.about img{
    width: 320px;
    height: 400px;
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 30px;
}
.education ,.Experience{
    /* margin-left: 300px; */
    border: 1px solid rgb(179, 179, 179);
    padding: 7px;
    width: 330px;
    border-radius: 20px;
    transition: 0.1s;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.education:hover,.Experience:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: rotateX(20deg);
    color: #d1d1d1;
    background-color: rgb(0, 0, 0);
}
.education p, .Experience p{
    text-align: center;
}
.Experience h3 , .education h3{
    text-align: center;
    font-size: 21px;

}
.about .aboutcontent{
    padding-left: 46px;
    margin-top: 50px;
    /* margin-left: 10px; */
}
.cantact{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(500px , auto));
    gap:10px;
    padding-left: 60px;

}
.cantactitem{
    margin-top: 30px;
    padding-left: 20px;
    margin-left: -30px;
}
.email:hover , .telephone:hover , .localisation:hover{
    background-color: #00b87e;
    transition: all .2s ease;
    border-left: 1rem solid rgb(61, 90, 87);
}
.email , .telephone , .localisation{
    border-left: 0.5rem solid #00b87e;
    width: 450px;
    /* border: 1px solid rgb(61, 90, 87); */
    background-color: rgb(61, 90, 87);
    /* border-radius: 5px; */
    transition: all .2s ease;
    padding: 10px;
}
.email i , .telephone i , .localisation i{
    font-size: 40px;
    color: #fff;
    margin-left: 15px;

}
.email span , .telephone span , .localisation span{
    color: #fff;
    font-size: 18px;
    position: absolute;
    margin-top: 5px;
    margin-left: 35px;

}
.cantact img{
    opacity: 0.8;
    border-radius: 5px;
    margin-left: 1px;
    width: 600px;
    height: 350px;
    transition: all .5s ease;
}
.cantact img:hover{
    transition: all .5s ease;
    border-radius: 15px;

}
.footer{
    padding-top: 10px;
    background-color:  rgb(61, 90, 87);
    padding-left: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 10px;
    /* height: 200px; */

}
.copyrating{
    text-align: center;
    background-color:  #00b87e;
    color: #eeeeee;

}
.footer .me h1{
    font-size: 20px;
    margin-top: 20px;
}
.footer h4{
    padding: 10px 0 10px 0;
    font-size: 21px;
    color: #e7fcf6;
}
.footer .me span{
    background-color: #00b87e;
    border-radius: 50px 10px;
    font-size: 22px;
    font-weight: 500px;
    text-shadow: rgb(24, 24, 24) 1px 0px 3px;
    font-family: 'Dancing Script', cursive;
    color: #d8d8d8;
}
.footer .me p{
    margin-top: 13px;
    color: #cbcbcb;
    font-size: 13px;
}
.footer .me h1{
    color: #d8d8d8;
    margin-bottom: 25px;
}
.infocontact i{
    font-size: 17px;
    margin-top: 10px;
    color: #d8d8d8;
}
.infocontact i:hover{
    color: rgb(255, 255, 255);
}
.infocontact  span:hover{
    padding-left: 5px;
    transition: all .2s ease;
    text-decoration: underline;
    color: rgb(255, 255, 255);

}
.infocontact span{
    transition: all .2s ease;
    color: #d8d8d8;
}
/* .copyrating{
    
} */
.links h4{
    margin-left: 2px;
}
.links ul li a{
    margin-left: 2px;
    color: #d8d8d8;
    transition: all .2s ease;
}
.links ul li a:hover{
    color: #f3f1f1;
    border-left: 7px solid #00b87e;
    padding-left: 10px;
    transition: all .2s ease;
}
.sociallinks ul li{
    margin-left: 10px;
    padding: 5px;
    display: inline;
    margin-top: 10px;
    font-size: 30px;
    color: #b6b9b9;
}
.sociallinks ul li a{
    color: #d1d1d1;
    transition: all .2s ease;
}
.sociallinks ul li a:hover{
    transition: all .2s ease;
    text-shadow: #00b87e 1px 0 7px;
    color: #00b87e;
    transform: scale(1.2);
}
.html{
    width: 85%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}
.javascript{
    width: 60%;
    animation: javascript 3s;
}
.laravel{
    width: 80%;
    animation: laravel 3s;
}
.php{
    width: 70%;
    animation: php 3s;
}
.angular{
    width: 55%;
    animation: angular 3s;
}
.c_Sharp{
    width:85%;
    animation: angular 3s;
}
.node-js{
    width: 50%;
    animation: node-js 3s;
}
.my-sql{
    width: 70%;
    animation: my-sql 3s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}@keyframes laravel {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}@keyframes node-js {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}@keyframes angular {
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}@keyframes my-sql {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@media (max-width:1380px) {
    header{
        padding: 18px 2%;
        transition: .2s;
    }
    section{
        padding: 0 2%;
        transition: .2s;
    }
    .iwork{
        margin-left: 10px;
    }
    /* .social{
        display: none;
    } */
}
@media (max-width:1170px){
    .skill1 , .skill2{
        margin-left: 200px;
    }
}
@media (max-width:1120px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    img{
        margin-left: 30px;
    }
    .skill1 , .skill2{
        margin-left: 200px;
    }
    #menu-icon{
        display: inline;
    }
    .text h1{
        font-size: 78px;
        transition: .2s;
    }
    .text h2{
        font-size: 40px;
        transition: .2s;
    }
    .text p{
        font-size: 17px;
        transition: .2s;
    }
    .btn{
        height: 50px;
        line-height: 50px;
        padding: 0 28px;
    }
    .btn2{
        margin-left: 20px;
    }
    .btn2 span i{
        height: 50px;
        width: 50px;
        font-size: 30px;

    }
    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #00b87e;
        text-align: left;
        transition: all .35s ease;

    }
    .navbar li a{
        display: block;
        padding: 1rem;
        margin: 1.3rem;
        color: #fff;
        border-left: 2px solid #fff;
    }
    .navbar li a:hover{
        background: #fff;
        color: #161616;
    }
    .navbar li a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
}
@media (max-width:850px){
    .skill1 , .skill2{
        margin-left: 100px;
    }
}
@media (max-width:718px){
    .skill1 , .skill2{
        margin-left: 20px;
    }
    .social{
        margin-left: 30px;
    }
}
@media (max-width:640px) {
    img{
        width: 830px;
        margin-left: -80px;
    }
    section{
        margin-left: -100px;
        padding: 0 3%;
    }
    .social{
        margin-top: -50px;
        margin-left: -20px;
    }
    .skill1 , .skill2{
        margin-left: -50px;
    }
    header{
        padding: 14px 3% ;
    }
    .text h1{
        font-size: 58px;
        transition: .2s;
    }
    .text h2{
        font-size: 28px;
        transition: .2s;
    }
    .text p{
        font-size: 15px;
        transition: .2s;
    }
    .btn{
        height: 30px;
        line-height: 30px;
        padding: 2 12px;
    }
    .btn2{
        margin-left: 16px;
    }
    .btn2 span i{
        height: 30px;
        width: 30px;
        font-size: 15px;

    }
}@media (max-width:375px) {
    header{
        padding: 10px 2%;
        transition: .2s;
    }
    #menu-icon{
        /* width: 20%; */
        margin-left: 280px;
        position: absolute;
    }
    header .btn{
        display: none;

    }
    .narbac{
        background-color: #014545;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    img{
        /* margin-top: -100px; */
        width: 740px;
        margin-left: -240px;
    }
    .container{
        margin-top: 170px;
        margin-left: -100px;
    }
    .social{
        margin-top: -100px;
        margin-left: -20px;
    }
    .text h1{
        font-size: 38px;
        transition: .2s;
    }
    .text h2{
        font-size: 18px;
        transition: .2s;
    }
    .text p{
        font-size: 10px;
        transition: .2s;
    }
    .btn{
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
    }
    .btn2{
        margin-left: 5px;
        display: none;
    }
    .btn2 i{
        display: block;
        /* height: 5px;
        width: 5px; */
        font-size: 5px;

    }
    .skill1{
        width: 300px;
        margin-left: -50px;
    }
    .skill2{
        margin-top: 20px;
        width: 300px;
        margin-left: -50px;

    }
    .about img{
        width: 330px;
        margin-left: 50px;
    }
    .ab{
        margin-left: -10px;
    }
    .cantact .imap{
        margin-left: -20px;
        width: 350px;
        height: 250px;
    }
    .cantact .cantactitem{
        margin-left: -80px;
    }
    .footer{
        width: 450px;
    }
    .copyrating{
        width: 450px;

    }
}




main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.intro {
    max-width: 50%;
    /* background-color: #0d6868; */
    margin-left: 60px;
}

.intro .hello {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 5px;
}

.intro .name {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}

.intro .role {
    font-size: 36px;
    color: #000;
}

.intro .role span {
    color: #00b87e;
}

.intro .description {
    font-size: 18px;
    color: #666;
}

.intro .btn {
    display: inline-block;
    background-color: #00b87e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.intro .btn.secondary {
    background-color: transparent;
    color: #00b87e;
    border: 2px solid #00b87e;
    margin-left: 10px;
}

.profile {
    position: relative;
}

.profile img {
    width: 300px; /* Adjust size as needed */
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}

.profile::before {
    content: '';
    position: absolute;
    top: 53px;
    left: 70px;
    width: 70%;
    height: 53%;
    border-radius: 50%;
    background-color: #00b87e;
    z-index: -1;
    padding: 40px;
    transform: rotate(20deg);
}
.color{
    color: #00b87e;
    font-size: 40px;
}